#containerHeader{
    background: url(images/ffflux.svg);
    background-size: cover;
    background-position: left;
}

#Zona {
    height: 80vh;
    background: url(images/Popayan.webp);
    background-size: cover;
    background-position: left;
    background-attachment: fixed; /* Hace que la imagen de fondo quede fija */
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0px 4px 10px rgba(0, 204, 255, 0.7);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(221, 240, 248) 60%, rgb(214, 202, 255) 88%,
       /*Etiqueta de abajo*/rgb(140, 0, 255) 40%, rgba(137, 0, 250, 0.705) 48%);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(109, 95, 243) 30%, rgb(25, 112, 184) 88%,
       rgb(154, 67, 255) 40%, rgb(38, 24, 165) 78%);
    color: white;
    transform: rotateY(180deg);
  }